#dsss-definition {
	border: 1px solid black;
	background-color: #ddd;
	margin: 2ex 0em;
	padding: 1ex 1em;
}

@media screen and (min-width: 50ex) {
	#dsss-definition {
		margin: 2ex 5em;
	}
}

#dsss-definition tr td:first-child {
	font-style: normal;
}

#dsss-definition tr td:first-child::first-letter {
	font-size: 150%;
	font-style: bold;
}

#dsss-definition td {
	vertical-align: top;
	padding-right: 2em;
	font-style: italic;
	border-bottom: 1px dashed black;
}

#dsss-definition tr:last-child td {
	border-bottom: none;
}

#map-list {
	margin: auto;
	margin-bottom: 2ex;
	border: 1px solid black;
	padding: 1ex 4em;
	font-family: monospace;
}

@media screen and (min-width: 50em) {
	#map-list {
		width: 35em;
	}
}

.ast {
	font-size: small;
	text-align: right;
}
